@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body,
html {
    margin: 0;
    padding: 0;
    
}

#meia-lua {
    background-color: #ffd068;
    height: 1000px;
    width: 100%;
    border-radius: 50%;
    position: absolute;
    top: -600px;
    z-index: -2;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.logo {
    width: 280px;
    position: absolute;
    z-index: 2;
    top: 850px;
}

#nome-logo {
    width: 100px;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
    gap: 400px;
}

nav a {
    padding: 7px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: #96531c;
}

nav {
    display: flex;
    align-items: center;
}

ul {
    list-style: none;
}

.dropdown {
    float: left;
    overflow: hidden;
    margin-right: 10px;
}

.dropbtn {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #96531c;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
}

.dropbtn:hover {
    background-color: #f4c358;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: #f4c358;
}

.dropdown-content {
    display: none;
    border-radius: 10px;
    position: absolute;
    background-color: #ffdf9bd0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #96531c;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ffd068;
    border-radius: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#user {
    font-size: 50px;
}

#btn-user {
    border-radius: 50%;
}

.p{
    width: 100%;
    position: absolute;
    top: 550px;
    display: flex;
    justify-content: center;
}

p{
    width: 850px;
    text-align: justify;
    font-family: "Poppins", sans-serif;
}

.btn {
    background-color: #f4c358;
    color: #96531c;
    border-radius: 20px;
    padding: 10px;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 50px;
    font-size: 18px;
}

.button{
    width: 100%;
    position: absolute;
    top: 900px;
    display: flex;
    justify-content: center;
}