header{
    background-color: #5f7a5f;
    color: white;
    display: flex;
    justify-content: right;
    padding: 20px;
}

header>nav {
    text-align: right;
    align-self: center;
}

a{
    margin-right: 20px;
}

.nav:hover{
    font-weight: bold;
    padding: 10px;
    background-color: #4c5f4c;
    border-radius: 10px;
}

.atual{
    padding: 10px;
    background-color: #5a645a;
    border-radius: 10px;
}

section{
    display: flex;
    margin-top: 80px;
    justify-content: space-evenly;
}

.textos{
    width: 515px;
}

.logos{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.logo-etec{
    width: 170px;
}

.logo-cps{
    width: 90px;
}

.img-nos{
    width: 250px;
    border-radius: 15px;
}