@charset "UTF-8";

/*Impressão*/

*{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}

main {
    border: 2px solid black;
    width: 90vw;
}

main h1{
    text-shadow: none;
    color: black;
}

img#phone { display: none; }
img#tablet { display: none; }
img#print { display: block; }
img#pc { display: none; }
img#tv { display: none; }
